.App {
  text-align: center;
}

.databox{
  
 
  border-style: groove;
 border-radius: 12px;
 display: grid;

 
}
.KeyboardChars{
  width: 200px;
 
}
.deleteoptions{
  width: 300px;
}

.cancelButtons{
  margin-left: 20px;
  width: 250px;
  display: flex;
}

.databoxChosenConditions {
  border-style: groove;
  border-radius: 12px;
  display: grid;
  margin-left: 30px;
}

.databoxRules{
  
  height: 80%;
  border-style: groove;
 border-radius: 12px;
 display: grid;
 margin-top: 40%;
 
}


.imagebuttons{
margin-left: 170px;
}

button{
  display: grid;
  width: 200%;
  padding: 5px;   
}

.MatchButtons{
  width: 200%;
  margin: 10px;
  margin-left: 1px;
  
}
.checkbox{
  width: 250%;
  text-align: left;
  
}

.checktext{
  width: 130px;
    
}

.buttonsleftpanel{
  margin-left: -10px;
  padding: 10px;
  width: 200%;
}

.samplebutton{
  width: 50px;
  text-align: center;
  
  margin-left: 70px;
}

.buttonspic{
  border: groove;
  width: 50px;
  
}

.buttonspic2{

  border: groove;
  width: 50px;
  height: 60px;
}

.btnSelect{
  width: 10%;
  background-color: #AA023A;
  color: white;
}

.formselect{
  padding: 30px;
  width: 500px;
  margin-left: 350px;
}

.panel{
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: double;
 height: 580px;
 width: 101%;
  padding: 20px;
}

.panel2{
  display: grid;
  text-align: left;
  grid-template-rows: 3fr 2fr 2fr 2fr 2fr 2fr 2fr;
  border: double;
}

.text{
 
    margin-top:-7px;
   position: absolute;
    background:white;
}


.containerbox {
  display: grid;
  grid-template-columns: 1fr 4fr;
 gap: 10px;
 padding: 10px;
}

.newaction {
  display: grid;
  border: ridge;
  border-radius: 12px;
  gap: 10px;
}


.leftpanel{

display: grid;
grid-template-rows: 1fr 1fr;
gap: 10px;
}
.leftpanel2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}
.buttonsdown{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;

}

.buttonsdownMatch{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.boxGS1 {
  display: grid;
  grid-template-columns: 2fr 0fr 4fr ;
  border-style: double;
  border-radius: 12px;
  padding: 20px;
}
.GS1Buttons{
  width: 310px;
  
}
.box {
  display: grid;
  grid-template-columns: 3.5fr 8fr;
  border-style: double;
 border-radius: 12px;
 padding: 20px;
}
.box2 {
  display: grid;
  grid-template-columns: 2fr 0fr 4fr 4fr;
  border-style: double;
  border-radius: 12px;
  padding: 20px;
}
.dataformattingoptions{
  width: 130px;
  
}
.overtext{
  width: 250px;
}
.smallButtons{
  
  width: 110px;
  height: 40px;
  
}

.divSmallButtons{
  width: 250px;
  display: flex;
}

.divSmallButtonsDP{  
  width: 250px;
  display: flex;
}

.smallButtonsChars{
  width: 67px;
  height: 40px;
  
}
.afterpositionlabel{
  margin-top: 20px;
  width: 150px;
  display: flex;
}

.createbarcode{
  width: 100px;
  margin-top: -5px;
  margin-left: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.downloadButton{
  margin-left: -20px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.BarcodeGS1{
  margin-left: 50px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
@media screen {
	.optionsSelected {	
   
    
    visibility: hidden;    
	}
}

.downloadButton2{
  margin-left: 130px;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.downloadButtonGS1{
  margin-left: 200px;
  width: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.printButton{
  width: 60px;
}
.requestLogIn{
  
  display: grid;
  padding: 10%;
  width: 2000px;
  
}
.LogInButton{
  width: 200px;
  outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 300px;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #DC143C;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
